<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>



  <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">image</th>
      <th scope="col">description</th>
      <th scope="col">unit price</th>
      <th scope="col">quantity</th>
      <th scope="col">sub-total</th>
    </tr>
  </thead>
  
  <tbody>

    <% LineItem.all.where("order_id = 2").each do |item| %>
    <tr>
    <th scope="row">1</th>
    <td><%= Product.all.where("id = #{item.product_id}")[0].name  =%></td>
    <td>
    <image style="height:5em" src= <%= Product.all.where("id = #{item.product_id}")[0].image  =%> >
      </td>
    <td><%= Product.all.where("id = #{item.product_id}")[0].description  =%></td>
    <td><%= humanized_money_with_symbol item.item_price_cents =%></td>
    <td><%= item.quantity =%></td>
    <td><%= humanized_money_with_symbol item.total_price_cents =%></td>
   
  </tr>
    <% end %>   
  </tbody>
</table>

<p> Total cost:
<%= humanized_money_with_symbol @order.total_cents  =%>
</p>

<p> ordered by:
<%= @order.email  =%>
</p>



  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
